*{
  font-family: 'Lato', sans-serif ;
}


.navbar {
	background: #aeaeae;
	border-bottom: none;
	padding: 30px 0;
	transition-duration: 0.6s;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #183532;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 142px; /* .push must be the same height as .footer */
}

.navbar-scroll {
	background: #ffffff;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
.jumbotron{
  background-image: url('../img/mela2011_706.jpg');
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
   filter: grayscale(100%);
   height: 28em;
}
.myBotton{
  border: .5px solid  black;
  margin-bottom: 10%;
  font-size:.5em;
}
.myBotton:hover{
  color:white;
  background-color: black;
}
.myBottonB{
  border: .5px solid  white;
  margin-bottom: 10%;
  font-size:.5em;
}
.myBottonB:hover{
  color: black;
  background-color: white;
}
.brand-logo{
  font-weight: 300;
}
svg{
  width: 25%;
  filter: grayscale(100%);

}
.apptitudes{
  display:inline-block;
}
.title{
    padding: 5px 0px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.09);
    position: relative 0.09);
}
.sub-title {
    letter-spacing: 3px;
    font-size: 10px;
    color: #aaa;
    margin-bottom: 10px;
}
.parallax img{

    -webkit-filter: blur(4px);
    filter: blur(4px);
}
