
.section{
  margin: 4em;
}
.myBotton{
  border: .5px solid  black;
  margin-bottom: 10%;
  font-size:.5em;
}
.myBotton:hover{
  color:white;
  background-color: black;
}
.myBottonB{
  border: .5px solid  white;
  margin-bottom: 10%;
  font-size:.5em;
}
.myBottonB:hover{
  color: black;
  background-color: white;
}
.brand-logo{
  font-weight: 300;
}
svg{
  width: 25%;
  filter: grayscale(100%);

}
.apptitudes{
  display:inline-block;
}
.title{
    padding: 5px 0px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.09);
    position: relative 0.09;
    margin-bottom: 3em;
}
.sub-title {
    letter-spacing: 3px;
    font-size: 10px;
    color: #aaa;
    margin-bottom: 10px;
}
.parallax img{

    -webkit-filter: blur(4px);
    filter: blur(4px);
}
ul{
  display: inline-block ;
}
